<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Giff Search engine.</title>
    <link href="/css/style.css" rel="stylesheet">
</head>
</html>

<html>
<body>

<form action="searchGifs" method="post">
    <h1><label for="searchPhrase">Search for:</label></h1>
    <h1><input id="searchPhrase" name="searchPhrase" type="text" value="Cat"></h1>
    <h1><input type="submit" value="Search"></h1>
    <br>
</form>

<button onclick="location.href='trending'" type="submit">Show Trending Videos</button>
<button onclick="location.href='home'" type="submit">Home</button>

<br><br>
</body>
</html>